<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hehe_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{86,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,65}}</string>
                <key>sourceSize</key>
                <string>{86,65}</string>
            </dict>
            <key>hehe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{86,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,65}}</string>
                <key>sourceSize</key>
                <string>{86,65}</string>
            </dict>
            <key>hehe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{86,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,65}}</string>
                <key>sourceSize</key>
                <string>{86,65}</string>
            </dict>
            <key>hehe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,65}}</string>
                <key>sourceSize</key>
                <string>{86,65}</string>
            </dict>
            <key>hehe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,65}}</string>
                <key>sourceSize</key>
                <string>{86,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hehe.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc0e5f40c054e748c13b6aaf0c601b65$</string>
            <key>textureFileName</key>
            <string>hehe.png</string>
        </dict>
    </dict>
</plist>
